# Mac
*.DS_Store

# VS Code
.vscode/

# Android Studio
android/.gradle/
android/.idea/
android/build/
android/local.properties
android/gradle/
android/gradlew
android/gradlew.bat
example/android/.gradle/
example/android/.idea/
example/android/build/
example/android/local.properties
example/android/app/build/

# example
example/node_modules/

# Xcode
*/Pods/Pods.xcodeproj/xcuserdata/
**xcshareddata**
**xcuserdata**
*/coverage
*/Pods
