# Mac
*.DS_Store

# VS Code
.vscode/

# Android Studio
android/.gradle/
android/.idea/
android/build/
android/local.properties

# Xcode
*/Pods/Pods.xcodeproj/xcuserdata/
**xcshareddata**
**xcuserdata**
*/coverage
*/Pods
